{% extends 'get_quote_base.html' %}

<!-- URL used in get_quotes_base.html to navigate to the correct results page. 
    The way the quote pages work might need to be reworked to not use templates in this way -->
{% block quote_results_url %}{{ url_for('treatments.orthopaedics_get_quote') }}{% endblock quote_results_url %}

{% block heading %}Get a quote for your orthopaedic treatment{% endblock heading %}


{% block options %}
<option selected>Please select an option...</option>
<option value="1">Arthroscopy</option>
<option value="2">Foot and ankle surgery</option>
<option value="3">Hip replacement surgery</option>
<option value="4">Joint fusion</option>
<option value="5">Knee replacement surgery</option>
{% endblock options %}