/* Navbar override*/
.nav-link,
.navbar-brand {
    color: #000;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}
.navbar img {
    width: 120px;
    height: auto;
}
.navbar .navbar-brand img{
    width: 220px !important;
}