{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}{% endblock title %}</h2>
{% endblock header %}

{% block content %}
<div class="container content bg-image position-relative" style="background-image: url('{{ url_for('static', filename='./img/main-background.png') }}');
    height: 630px; width: 1200px">
  <div class="position-absolute top-100 start-50 translate-middle"
    style="background-image: url('{{ url_for('static', filename='./img/Background.png') }}');">
    <div class="buttons-container">
      <a class="btn" href="{{ url_for('pages.orthopaedics') }}">
        <img src="{{ url_for('static', filename='./img/Orthopedics.png') }}" alt="Orthopedics">
      </a>
      <a class="btn" href="{{ url_for('pages.home') }}">
        <img src="{{ url_for('static', filename='./img/Ophthamology.png') }}" alt="Ophthamology">
      </a>
      <a class="btn" href="{{ url_for('pages.home') }}">
        <img src="{{ url_for('static', filename='./img/Gynacology.png') }}" alt="Gynacology">
      </a>
      <button class="btn">
        <img src="{{ url_for('static', filename='./img/Other.png') }}" alt="Other">
      </button>
    </div>
  </div>
</div>
{% endblock content %}