{% extends 'base.html' %}

{%block header%}
<!-- Step Indicator -->
<div class="row text-center mb-4">
    <div class="col">
        <div class="position-relative d-inline-block">
            <div class="bg-primary text-white rounded-circle p-2">1</div>
            <div class="pt-2">Treatment</div>
        </div>
    </div>
    <div class="col position-relative">
        <hr class="w-100 position-absolute top-50 start-0 translate-middle" style="z-index: -1;">
        <div class="position-relative d-inline-block">
            <div class="bg-primary text-white rounded-circle p-2">2</div>
            <div class="pt-2">Patient</div>
        </div>
    </div>
    <div class="col position-relative">
        <hr class="w-100 position-absolute top-50 start-0 translate-middle" style="z-index: -1;">
        <div class="position-relative d-inline-block">
            <div class="bg-primary text-white rounded-circle p-2">3</div>
            <div class="pt-2">Quote</div>
        </div>
    </div>
    <div class="col position-relative">
        <hr class="w-100 position-absolute top-50 start-0 translate-middle" style="z-index: -1;">
        <div class="position-relative d-inline-block">
            <div class="bg-primary text-white rounded-circle p-2">4</div>
            <div class="pt-2">Payment</div>
        </div>
    </div>
    <div class="col position-relative">
        <hr class="w-100 position-absolute top-50 start-0 translate-middle" style="z-index: -1;">
        <div class="position-relative d-inline-block">
            <div class="bg-primary text-white rounded-circle p-2">5</div>
            <div class="pt-2">Confirmation</div>
        </div>
    </div>
</div>
{% endblock header %}
{% block content %}

{% endblock content %}