{% extends 'base.html' %}

{% macro quote_url() %}{% block get_quote_url %}{% endblock get_quote_url %}{% endmacro %}

{%block style %}{%endblock style %}

{% block content %}
{% block hero%}
<div class="container content bg-image position-relative">
  <div class="container col-xxl-10 px-4 py-5 text-white">
    <div class="row g-5 py-5">
      <div class="col-lg-6">
        {% block heading %}
        <h1 class="display-5 fw-bold lh-1 mb-3">My Medical Gateway</h1>
        {% endblock heading %}
        {% block intro %}
        {% endblock intro %}
        <div class="d-grid gap-2 d-md-flex button-group justify-content-md-start">
          <a href="{{ quote_url() }}" class="btn btn-primary">Get a quote</a>
          <a href="{{ url_for('user.login') }}" class="btn btn-light">Retrieve quote</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock hero %}
<div class="container p-5">
  <div class="row justify-content-center">
    <div class="col-8">
      <h2>Find the best treatment for you</h2>
      {% block treatment_text %}{% endblock%}
    </div>
    <div class="row">
    </div>
    <div class="card-group justify-content-center">
      <div class="card bg-primary bg-opacity-50 p-5">
        <h3>New to My Medical Gateway?</h3>
        <p class="violet-paragraph">Log in or create a My Medical Gateway account to make changes, view your treatment documents or
          start a new search. Fast and easy, no need to call.</p>
        <div class="button-group">
          <a href="{{ url_for('user.register') }}" class="btn btn-primary">Visit My MMG</a>
        </div>
      </div>
      <div class="card bg-light p-5">
        <h3>Already a customer</h3>
        <p class="violet-paragraph">Start your journey with us, get a quote for your treatment or pick up where you left
          off. Online or over the phone, we look forward to welcoming you.</p>
        <div class="button-group">
          <a href="{{ quote_url() }}" class="btn btn-primary">Get a quote</a>
          <a href="{{ url_for('user.login') }}" class="btn bg-white">Retrieve quote</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}