<!DOCTYPE html>
<html>
<head>
    <title>My Medical Gateway</title>
</head>
<body>
    <img src="/static/img/mmg-logo-small.png" width="200">
    <h1>My Medical Gateway</h1>
    <h2>Login</h2>
    <form method="POST" action="/login">
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Sign In">
    </form>
    <br>
    <a href="/register">Don't have an account? Sign up below:</a>
</body>
</html>
