<!DOCTYPE html>
<html>
<head>
    <title>My Medical Gateway</title>
</head>
<body>
    <img src="/static/img/mmg-logo-small.png" width="200">
    <h1>My Medical Gateway</h1>
    <h2>Register</h2>
    <form method="POST" action="/register">
        <label for="first_name">First Name:</label><br>
        <input type="text" id="first_name" name="first_name"><br><br>
        <label for="last_name">Last Name:</label><br>
        <input type="text" id="last_name" name="last_name"><br><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <label for="confirm_password">Confirm Password:</label><br>
        <input type="password" id="confirm_password" name="confirm_password"><br><br>
        <input type="submit" value="Sign Up">
    </form>
</body>
</html>
